.App {
  text-align: center;
}

.pull-right {
  text-align: right;
  padding: 2rem 5rem 0 0;
}

.link-alignment {
  padding: 1rem;
}

body {
  background-color: goldenrod;
}

.header {
  display: flex;
  align-items: center;
  background-color: darksalmon;
  justify-content: center;
}

.heading {
  font-weight: bold;
  font-size: 18px;
}

.header-box {
  background-color: lightblue;
  width: 80%;
  color: #bd1717;
  font-size: 20px;
  padding: 1rem;
  font-weight: bold;
  margin: 1rem 7rem;
  text-align: center;
}

.details-block-left {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.textbox {
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.left-span {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-right: 1rem;
}

.submit {
  text-align: right;
  padding: 2rem;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.btn {
  background-color: lightblue;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.covid-faq-box {
  background-color: lightblue;
  width: 70%;
  color: #820909;
  font-size: 16px;
  padding: 1rem;
  margin: 1rem 5rem;
}

.header-main {
  font-size: 45px;
  font-weight: bold;
  color: #0f0f71;
}

/* a {
  text-decoration: none;
}

nav {
    font-family: monospace;
} */

/* ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
} */
  
/* li a {
  color: #fff;
}

li:hover {
    background: red;
    cursor: pointer;
} */
/* 
ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
} */

/* ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
} */

/***New Addition by Sandipta****/
*{
  font-family: 'Montserrat', sans-serif;
}
.main-body{
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
} 

.nav-links, .nav-links:hover{
  text-decoration: none;
}

.portal-title{
  color: #1d98db;
  margin: auto;
  font-size: 1rem;
  text-shadow: 1px 0px 1px #ffffffba;
  font-weight: bold;
}

#basic-navbar-nav{
  flex-direction: row-reverse;
}

.container-fluid{
  padding: 0;  
}

#basic-navbar-nav.navbar-collapse{
  flex-grow: 0;
}

.app-footer{
  height: 2.5rem;
  background-color: #343a40;
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  color: #fff;
  padding: 0.5rem;  
  width: 100%;
}

.main-div{
  min-height: calc(100vh - 7rem);
  overflow: auto;
  padding: 0.5rem;
}

.suspect-info{
  list-style: none;
  padding: 0;
}

.chat-div-main{
  width: 20rem;
  bottom: 0;
  position: fixed;
  margin-bottom: 3rem;
  float: right;
  margin-right: 2rem;
  border: 1px solid #000;
  right: 0;
  z-index: 1;
  background-color: #fff;
}
.chatbot-container
{
  font-size: 0.8rem;
}

.chat-lower-bar{
  height: 2.2rem;
  background-color: #1b8fce;
  text-align: center;
  line-height: 2;
  color: #fff;
  font-weight: 600;  
}

.chatbot-result-area{
  padding: 0.2rem;
  margin: 0.5rem 0.25rem;
  height: 15rem;
  border: 3px solid #9db6c1;
  white-space: pre-line;
  word-break: break-word;
  overflow-y: auto;
}

.chatbot-input-area{
  margin: 0.4rem;  
  line-height: 2;
}

.input-chatbot{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 2.5rem;
  width: 78%;
  resize: none;
  display: inline-block;
}

.send-btn{
  display: inline-block;
  float: right;
}

.chatbot-icon{
  font-weight: 600;
  margin-right: 1rem;
  float: right;
  cursor: pointer;
}

.user-text{
  border-left: 4px solid #ff7b7bcf;
  margin: 0.7rem 0.2rem 0.2rem 20%;
  padding-left: 0.2rem;
}

.bot-text{
  border-right: 4px solid #1d8fce;
  margin: 0.7rem 2.7rem 0.2rem 0.2rem;
  padding-right: 0.2rem;
}

.reply-divs{
  list-style: none;
  padding: 0;
  margin: 0;
}

.watson-label-resp{
  display: block;
  font-weight: 600;
  color:#1d8fce;
  font-size: 0.8rem;
  font-style: italic;
}

.watson-loading{
  color: #1e1507;
  display: block;
  font-style: italic;
  text-shadow: 2px 2px 4px #6cbdc4;
  font-weight: 600;
}