.App {
  text-align: center;
}

.pull-right {
  text-align: right;
  padding: 2rem 5rem 0 0;
}

.link-alignment {
  padding: 1rem;
}

body {
  background-color: goldenrod;
}

.header {
  display: flex;
  align-items: center;
  background-color: darksalmon;
  justify-content: center;
}

.heading {
  font-weight: bold;
  font-size: 18px;
}

.header-box {
  background-color: lightblue;
  width: 80%;
  color: #bd1717;
  font-size: 20px;
  padding: 1rem;
  font-weight: bold;
  margin: 1rem 7rem;
  text-align: center;
}

.details-block-left {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.textbox {
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.left-span {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-right: 1rem;
}

.submit {
  text-align: right;
  padding: 2rem;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.btn {
  background-color: lightblue;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.covid-faq-box {
  background-color: lightblue;
  width: 70%;
  color: #820909;
  font-size: 16px;
  padding: 1rem;
  margin: 1rem 5rem;
}

.header-main {
  font-size: 45px;
  font-weight: bold;
  color: #0f0f71;
}

a {
  text-decoration: none;
}

nav {
    font-family: monospace;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover {
    background: red;
    cursor: pointer;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}